h5{
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 15px;
}
b{
    color: purple;
}
span{
    color: red;
}
.imgandresult{
    background-color: lightgrey;
    border-radius: 10px;
    padding: 15px;
    margin-top: 25px;
}
#glensimg{
    width: 120px;
}
body{
    font-family: cursive , "sans-serif";
}